<h2>UIT Projects</h2>
    
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card large">
            <div class="card-image">
              <%= image_tag "RailsProject.png", class: "responsive-img", alt: "screenshot of project" %>
            </div>
            <div class="card-content">
              <h5 class="black-text">Simple eCommerce Site</h5>
              <ul>
                <li>Ruby on Rails</li>
                <li>Devise</li>
                <li>Active Admin</li>
                <li>Stripe Integration</li>
                <li>SumoMe</li>

                <li><h6>Repo available on BitBucket</h6></li>
                <li><a href="https://youtu.be/cZklUF501ec?t=8m20s" target="_blank">Presentation about Rails</a> </li>
                <br>                
                <li>With great thanks to Leo Trieu at <a href="https://code4startup.com/">Code4Startup</a> !</li>
              </ul>

            </div>
<!--             <div class="card-action">
              <a href="http://45.55.66.13" target="_blank">Demonstration Site</a>
            </div> -->
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card large">
            <div class="card-image">
              <%= image_tag "UseThis.png", class: "responsive-img", alt: "Picture of a peacock" %>
            </div>
            <div class="card-content">
              <h5 class="black-text">UseThis!</h5>            
              <p>Perishable food tracking mobile app with simplified meal planning</p>
              <ul>
                <li>NodeJS with Express back end</li>
                <li>REST API</li>
                <li>Ionic mobile app</li>
                <li>XCode prototyping</li>
                <li>Sketch</li>
                <li><a href="https://github.com/Seonaid/UseThisFront" target="_blank">Front End Github Repo</a></li>                
                <li><a href="https://github.com/Seonaid/UseThisBack" target="_blank">Back End Github Repo</a></li>
                <li><a href="https://www.youtube.com/watch?v=CqOf6Noc3pw&feature=youtu.be&t=15m51s" target="_blank">UseThis Pitch with Demo</a></li>
              </ul>
            </div>
            <div class="card-action">
              <a href="http://104.236.37.141/register" target="_blank">Demonstration Site</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card large">
            <div class="card-image">
              <%= image_tag "NodePlusExpress.png", class: "responsive-img", alt: "Screenshot of programming project" %>
<!--               <span class="card-title">Social Network</span>
 -->            </div>
            <div class="card-content">
              <h5 class="black-text">Social Network</h5>   
              <p>Design and prototype for a community-based social network. <br>
                Stack:
                <ul> 
                  <li>Ubuntu 14.01</li>
                  <li>NodeJS / Express</li>
                  <li>Postgres</li>
                  <li>Sequelize (ORM) </li>
                  <li>Jade Templating engine</li>
                  <li>Bootstrap</li>
                  <li><a href="https://github.com/Seonaid/social_network" target="_blank">Github Repo</a> </li>
                  <li><a href="https://www.youtube.com/watch?v=kbk1aJQyLXM" target="_blank">Presentation on Nerdique Goals</a> </li>
                </ul></p>
            </div>
<!--             <div class="card-action">
              <a href="http://104.236.57.202/" target="_blank">Demonstration Site</a>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card large" style= "height: 500px">
            <div class="card-image">
              <%= image_tag "GhostBlog.png", class: "responsive-img", alt: "Screenshot of programming project" %>
              <!-- <span class="card-title">Ghost Blog</span> -->
            </div>
            <div class="card-content">
              <h5 class="black-text">Ghost Blog</h5>   

              <p>Installation and deployment of Ghost</p>
              <ul>
                <li>Digital Ocean</li>
                <li>Cloud Flare</li>
                <li>NodeJS</li>
                <li>Ghost</li>
                <li>Year long blog on learning outcomes</li>
              </ul>
            </div>
            <div class="card-action">
              <a href="http://figuresthingsout.com" target="_blank">FiguresThingsOut.com</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card large" style= "height: 500px">
            <div class="card-image">
              <%= image_tag "ChatApp.png", class: "responsive-img", alt: "Picture of a peacock" %>
              <!-- <span class="card-title grey-text text-darken-3">Chat Application</span> -->
            </div>
            <div class="card-content">
              <h5 class="black-text">Chat Application</h5>
              <ul>
                <li>NodeJS</li>
                <li>socket.io</li>
                <li>Redis</li>
                <li>BCrypt password encryption</li>
                <li>CSS migrated from Ghost Blog</li>
                <li><a href="https://github.com/Seonaid/simple-chat-server" target="_blank">Github Repo</a> </li>
                <li><a href="https://www.youtube.com/watch?v=R1nU7mLrchU" target="_blank">Presentation on User Authentication</a> </li>

              </ul>

            </div>
<!--             <div class="card-action">
              <a href="http://104.131.67.121/" target="_blank">Friendly Chat</a>
            </div> -->
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card large" style= "height: 500px">
            <div class="card-image">
              <%= image_tag "board_game.jpg", class: "responsive-img", alt: "Picture of a peacock" %>
              <!-- <span class="card-title">Nerdique - Website</span> -->
            </div>
            <div class="card-content">
              <h5 class="black-text">Nerdique - Website</h5>
              <p>Marketing website and strategies for social network project.</p>
              <p>Copywriting</p>
              <p>Deploying Wordpress</p>
              <p>Follow us on <a href="http://twitter.com/nerdique" target="_blank">Twitter</a></p>
            </div>
            <div class="card-action">
              <a href="http://nerdique.com" target="_blank">Nerdique.com</a>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card large" style= "height: 500px">
            <div class="card-image">
              <%= image_tag "AngularProject.png", class: "responsive-img", alt: "Picture of a peacock" %>
            </div>
            <div class="card-content">
              <h5 class="black-text">Exchange Marketplace</h5>
              <ul>
                <li>Angular</li>
                <li>Firebase</li>
                <li>Bootstrap</li>
                <li><a href="https://github.com/Seonaid/Seonaid.github.io" target="_blank">Github Repo</a> </li>
                <li><a href="https://www.youtube.com/watch?v=HtMK5r-wnwk" target="_blank">Presentation on what constitutes MVP</a> </li>
                <br>                
                <li>With great thanks to Leo Trieu at <a href="https://code4startup.com/">Code4Startup</a> !</li>
              </ul>

            </div>
            <div class="card-action">
              <a href="https://seonaid.github.io/#/" target="_blank">GitHub Pages</a>
            </div>
          </div>
        </div>
      </div>

