<h2>UIT Projects</h2>
    
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <%= image_tag "NodePlusExpress.png", class: "responsive-img", alt: "Screenshot of programming project" %>
              <span class="card-title">Social Network</span>
            </div>
            <div class="card-content">
              <p>Desgin and prototype for a community-based social network.
                Stack:
                <ul> 
                  <li>Ubuntu 14.01</li>
                  <li>NodeJS / Express</li>
                  <li>Postgres</li>
                  <li>Jade Templating engine</li>
                  <li>Bootstrap</li>
                </ul></p>
            </div>
            <div class="card-action">
              <a href="http://104.236.57.202/" target="_blank">Demonstration Site</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <%= image_tag "board_game.jpg", class: "responsive-img", alt: "Picture of a peacock" %>
              <span class="card-title">Nerdique - Website</span>
            </div>
            <div class="card-content">
              <p>Preliminary content generation and marketing strategies for social network.</p>
            </div>
            <div class="card-action">
              <a href="http://nerdique.com" target="_blank">Nerdique.com</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <%= image_tag "ChatApp.png", class: "responsive-img", alt: "Picture of a peacock" %>
              <span class="card-title grey-text">Chat Application</span>
            </div>
            <div class="card-content">
              <ul>
                <li>NodeJS</li>
                <li>socket.io</li>
                <li>Redis</li>
                <li>BCrypt password encryption</li>
                <li>CSS migrated from Ghost Blog</li>
                <li><a href="https://github.com/Seonaid/simple-chat-server" target="_blank">Github Repo</a> </li>
                <li><a href="https://www.youtube.com/watch?v=R1nU7mLrchU" target="_blank">Presentation on User Authentication</a> </li>

              </ul>

            </div>
            <div class="card-action">
              <a href="http://104.131.67.121/" target="_blank">Friendly Chat</a>
            </div>
          </div>
        </div>
      </div>



