<% provide(:title, 'Sign up') %>

<h1>Sign Up</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			<div class="input-field col s12">
	      <%= f.text_field :name, :class => "validate", :placeholder => "Name" %>
			</div>
			<div class="input-field col s12">      
	      <%= f.email_field :email, :class => "validate", :placeholder => "email" %>
			</div>
			<div class="input-field col s12">  
	      <%= f.password_field :password, :class => "validate", :placeholder => "Password"   %>
			</div>
			<div class="input-field col s12">  
	      <%= f.password_field :password_confirmation, :class => "validate", :placeholder => "Confirm Password"   %>
			</div>
 
	      <%= f.submit "Create my account", class: "btn" %>
		<% end %>
	</div>
</div>
