 @import "materialize/components/color";
 $primary-color: color("teal", "lighten-2");
 $card-padding: 10px;
 @import "materialize";


   body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  @mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors.validate {
    color: red;
}

.card .card-title {
  font-weight: 400;
}

.card.large {
  height: 620px;

    .card-image {
      height: 30%;
    }
    .card-content {
      height: 60%;
    }
}
