  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Seonaid Lee, M.Sc., B.Ed., PDC</h5>
          <p class="grey-text text-lighten-4">Available for complex thought form wrestling. Meditation instruction, technical specifications, web development, and custom word art.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li> <a href="https://twitter.com/seonaid_lee" target = "_blank" class="grey-text text-lighten-3">Twitter</a></li>
            <li> <a href="https://instagram.com/seonaid_lee/" target = "_blank" class="grey-text text-lighten-3">Instagram</a></li>
            <li> <a href="https://ca.linkedin.com/pub/seonaid-lee/95/7b7/33a" target = "_blank" class="grey-text text-lighten-3">LinkedIn</a></li>
<!--             <li><%= link_to "Contact", contact_path, class: "grey-text text-lighten-3" %></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2015 Seonaid Lee
<!--      <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>