<header class = "navbar navbar-fixed-top navbar-inverse">
  <nav class = "teal darken-1">
    <div class="container">
    <div class="nav-wrapper">
  		<%= link_to " Seonaid Lee", root_path, id: "logo", class: "brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
				<li><%= link_to "Home", root_path %></li>
<!-- 				<li><%= link_to "Help", help_path %></li> -->
				<li><%= link_to "About", about_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
				<li><%= link_to "Home", root_path %></li>
<!-- 				<li><%= link_to "Help", help_path %></li> -->
				<li><%= link_to "About", about_path %></li>
      </ul>
    </div></div>
  </nav>
</header>


