      <div class="collection">
        <%= link_to "Home", root_path, class: "collection-item" %>
        <%= link_to "UIT Projects", uit_projects_path, class: "collection-item" %>

        <a href="#!" class="collection-item">Business Analysis</a>
        <a href="#!" class="collection-item">Writing</a>
        <a href="#!" class="collection-item">Instructional Design</a>
      </div>