<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
 
     <main> 
      <div class="container">
        <div class="row">
      <div class="col s12">
<!--         <div class="row">
        <div class="col s6 m3">
          <%= render 'layouts/leftnav' %>
        </div> -->

<!--         <div class="col s9"> -->
<!-- <div class="container"> -->
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>      
          <%= yield %>
        </div></div>
<!--       </div> -->
<!-- </div> -->
        </div>
      </div>    
    </main>
    
    <div class="container"><%= debug(params) if Rails.env.development? %> </div>    
    <%= render 'layouts/footer' %>

  </body>
</html>

<script type="text/javascript">$(".button-collapse").sideNav();</script>
